#header{
  width:100%;
  display: inline-flex;
  justify-content: space-between;
  border-style: groove;
}

#header p{
  width: 80px;
  border-color: grey;
  border-style: groove;
  margin-right: 5px;
}

#header_menu{
  display: flex;
  align-items: center;
}

#header_menu img{
  width: 40px;
  height: 40px;
}


#center{
  display: inline-flex;
}

#left_menu{
  width: 400px;
  vertical-align: top;
  border-style: groove;
}

#left_menu p{
  text-align:left;
  margin: 6px;
}

#main{
  display: inline-flex;
  flex-wrap: wrap;
  border-style: groove;
  justify-content: center;
}

.blocks{
  background-color: grey;
  width: 300px;
  margin: 10px;
  flex-shrink: 10;
}

.blocks p{
  margin: 10px;
}

#block_with_decore p::before{
  content: "¶¶ ";
}

#footer-part_1{
  border-style: groove;
}

#footer-part_1 table {
      width:100%;
}

#footer-part_1 li{
  list-style-type: none;
}

#footer-part_2{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  border-style: groove;
}
